<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <link href="assets/application.css.sass" rel="stylesheet" type="text/css"/>
  <script src="assets/application.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
