<!DOCTYPE html>
<html>
<head>
  <title>TodoApp</title>
  <link href="assets/application.css.sass" rel="stylesheet" type="text/css"/>
  <script src="assets/application.js"></script>
  <style>
    .main{
	  width: 60%;
	  margin: 0 auto;
	}
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main container">
<%= yield %>
</br>
</br>
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
</div>
</body>
</html>
